<form class="card editPostContainer">
    <input type="text" class="editPostInput" id="editTitle">
    <input type="text" class="editPostInput" id="editContent">
    <button>Delete Post</button>
    <button>Save Changes</button>
</form>