<form>

    <input class="form-label" id="usernameInput" class="form-input" placeholder="username"></input>

    <input class="form-label" id="passwordInput" class="form-input" placeholder="password"></input>

    <div class="formBtns">
        <button type="submit" class="btn">Enter</button>
        <a href="/signup" class="switchAuth">Need an Account?</a>
    </div>

</form>
